__pycache__/
*.py[cod]
*.egg-info/
.build/
.env
.venv
.envrc
*.lock
.eggs/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
.DS_Store

# Node-related
node_modules/
dist/
build/

# Coverage
htmlcov/
.coverage
.coverage.*

# Cache
.cache/

# Project specific
.whatsnew/cache/
